
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="insurancepage.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div class="container">
    <div class="title">Insurance application form</div>
 <body>
    <div class="btn-text-center">
        <a href="applyinsu"><button class="test" href="applyinsu">Apply for insurance</button></a>
        <a href="claim"><button class="test" href="claim">Claim Insurance</button></a>
    <p>To provide insurance coverage and financial support to the farmers in the 
        event of failure of any of the notified crop because of natural calamities, 
        pests & diseases.
        • To stabilize the income of farmers to ensure their continuance in farming.
        • There will be a uniform premium of only 2% to be paid by farmers for all 
        Kharif crops and 1.5% for all Rabi crops. In case of annual commercial and 
        horticultural crops, the premium to be paid by farmers will be only 5%. The 
        premium rates to be paid by farmers are very low and balance premium will 
        be paid by the Government to provide full insured amount to the farmers 
        against crop loss on account of natural calamities.</p> <br>
    
    <p>NOTE:
        The Government of India provides various schemes for farmers, but due to lack 
        of awareness and miscommunication, farmers do not avail these benefits. Hence, 
        we try to integrate some of the schemes like Fasal Bima Yojna and Bidding of 
        Crops scheme.
        We are implementing a system which is automated and helps to reduce the 
        burden on farmers as well as the system. We are providing an online means to 
        apply and claim insurance which will help the system to work efficiently and 
        enhance smooth handling of records.
        The bidding module will enable the farmer to place crops for auction and receive 
        best price from auction which stabilizes the farmer’s income as well as eliminates 
        the stress of physical sale of crops in the market. We have implemented two 
        modules which will help the farmer to make use of technology and reduce the 
        efforts for selling the crops.
        </p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
  </div>
</html>