<div class="background">
    <h3  class="header">Contact Form</h3>
    
    <div class="container">
        <form action="/action_page.php">
            <label for="fname">Email</label>
            <input type="text" id="fname" name="Email" placeholder="Your email id">
    
            <label for="lname"> Name</label>
            <input type="text" id="lname" name="Name" placeholder="Your  Name..">
    
           
    
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
            <input type="submit" value="Submit">
        </form>
        </div>
        </div>