


<!DOCTYPE html>
<html lang="en">
  <head >
    <meta charset="UTF-8" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="farmwelc.component.css" />
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome Farmer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item active">
              <a class="nav-link" href="placesell">Sell Request <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="viewhistory">View Sold Crops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="marketplace">View Marketplace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="insupage">Insurance</a>
          </li>
       

      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>

    </div>
  </nav>

  <body  class="background">
    
    <div class="wrapper">
      <h1> 
        WELCOME FARMERS</h1>
      <div class="about-section">
        <img src="assets/pic1.jpeg" />
        <p>
          Agriculture is the backbone of India, saying this, many of the agriculturists
        face so many problems in the agriculture that includes improper value for the
        products they produce and there are no proper discussion platforms where they
        could discuss or clarify their doubts regarding the agriculture.
  Thus here a new
        method is tried to find a solution to make the farmers to sell their products and
        also to discuss the issues. An auction website with all the other kinds of features
        such as a chat room and discussion forum would satisfy the farmer needs

          
          <br />
        
        </p>
      </div>
    </div>
  </body>
</html>