

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="adminpage.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Claim request</div>
    <div class="content">
      <form action="#">
        <table class="table">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Policy number</th>
                    <th>Claim status</th>
                    <th>Cause of loss</th>                      
                   <th></th>
                </tr>
                <tr></tr>
            </thead>
        </table>
    </form>
    </div>
  </div>
</body>
</html>
