<!--<p>bidderwelcome works!</p>-->
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="bidderwelcome.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="title">Welcome bidder</div>
    <table class="table">
        <thead>
            <tr>
                <th>Crop Type</th>
                <th>Crop Name</th>
                <th>Base Price</th>
                <th>Current Bid</th>                       
               <th></th>
            </tr>
            <tr></tr>
        </thead>
    </table>
    <div class="content">
        <form action="#">
          <div class="user-details">
            <div class="input-box">
                <br>
              <span class="details">Enter Bid Amount:</span>
              <input type="text" placeholder="Enter the bid amount" required>
              <div class="button">
                <input type="submit" value="Confirm">
            </div>  
        </div>
    </div>
        </form>
    </div>
</div>
   </body>
   </html>