<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="claim.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Claim Form</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Policy No</span>
            <input type="text" placeholder="Enter Policy No" required>
          </div>
          <div class="input-box">
            <span class="details">Insurance Company</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Insurance</span>
            <input type="text" placeholder="Enter Insurance Company" required>
          </div>
          <div class="input-box">
            <span class="details">Sum Insured</span>
            <input type="text" placeholder="Enter Sum Insured" required>
          </div>
        </div>
        <br><br>    
        <div class="title">Details of Cause for Loss</div>
        <div class="user-details">
            <div class="input-box">
              <span class="details">Cause of Loss</span>
              <input type="text" placeholder="Cause of Loss" required>
            </div>
            <div class="form-group">
<label for="dateofbirth">Date of Claim</label>
<br>
<input type="date" name="dateofbirth" id="dateofbirth"  class="form-control">
            </div>          
                </div>  
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>