<!--<p>farmerreg works!</p>-->
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="appl-insurance.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Insurance application form</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Season</span>
            <input type="text" placeholder="Enter the season" required>
          </div>
          <div class="input-box">
            <span class="details">Year</span>
            <input type="text" placeholder="Enter the year" required>
          </div>
          <div class="input-box">
            <span class="details">Crop</span>
            <input type="text" placeholder="Enter crop" required>
          </div>
          <div class="input-box">
            <span class="details">Sum insured</span>
            <input type="text" placeholder="Enter sum insured" required>
          </div>
            <div>
            <div class="button">
                <input type="submit" value="Calculate">
            </div>
            </div>
            <div>
                <div class="button">
                    <input type="submit" value="Reset">
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
              <tr>
                  <th>Isurance company</th>
                  <th>Sum insured(per hectare)</th>
                  <th>Share premium</th>
                  <th>Premium amount</th>
                  <th>Crop name</th>
                  <th>Area</th>   
                  <th>Sum insured</th>                         
                 <th></th>
              </tr>
              <tr></tr>
          </thead>
      </table>
      <div class="button">
        <input type="submit" value="Apply">
    </div>
      </form>
    </div>
  </div>
</body>
</html>